{% extends 'index.html' %}
{% load static  %}

{% load widget_tweaks %}
{% block css %} 
<link rel="stylesheet" type="text/css" href="{% static '/css/gridfooter.css' %}">
<link rel="stylesheet" href="{% static '/css/grid.css'  %}">
<link rel="stylesheet" href="{% static '/css/mainCarousel.css'  %}">
<link rel="stylesheet" href="{% static '/css/carouselPic.css'  %}">
<link rel="stylesheet" href="{% static '/css/login.css'  %}">
<link rel="stylesheet" href="{% static '/css/register.css'  %}">
<link rel="stylesheet" href="{% static '/css/gridLastest.css'  %}">
<link rel="stylesheet" href="{% static '/css/latest.css'  %}">
<link rel="stylesheet" href="{% static '/css/us.css'  %}">
<link rel="stylesheet" href="{% static '/css/carPage.css'  %}">
<link rel="stylesheet" href="{% static '/css/gridCustomer.css'  %}">
<link rel="stylesheet" href="{% static '/css/customer.css'  %}">
<link rel="stylesheet" href="{% static '/css/renting.css'  %}">
<link rel="stylesheet" href="{% static '/css/confir.css'  %}">
<link rel="stylesheet" href="{% static '/css/stripe.css'  %}">
<link rel="stylesheet" href="{% static '/css/navbar.css' %}">
<link rel="stylesheet" href="{% static '/css/footer.css' %}">
<link rel="stylesheet" href="{% static '/css/carTable.css' %}">
<link rel="stylesheet" href="{% static '/css/gallery.css' %}">
<link rel="stylesheet" href="{% static '/css/galleryGrdid.css' %}">
<link rel="stylesheet" href="{% static '/css/updateCustomer.css' %}">
<link rel="stylesheet" href="{% static '/css/graph.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Montserrat:wght@300;400;500;700&family=Prompt:wght@400;500&family=Roboto:wght@100;300;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block header %} 
<header>
    <div class="container">
        <!-- <h1>Azərişıq/Müraciət</h1> -->
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Ana Səhifə</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
{% endblock %}
{% block content %}

<style>
  .custom-input{
    background-color: white;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	border: 1px solid #fcc842;
  }
</style>

<div class="BenzRent">
  </div>
  <br>
  <br>
  <div class="signup__container">
    <div class="container__child signup__thumbnail">
      <div class="thumbnail__logo">
        <img src="{% static 'images/Light-Bulb-PNG-File.webp' %}" alt="" style="width:100%;">
      </div>

      <div class="signup__overlay"></div>
    </div>
    <div class="container__child signup__form">
      <form action="{% url 'register' %}" method="POST">
        {% csrf_token  %}
        {% for field in form %}
        {% if field.name == "full_name"%}
        {% render_field field class="custom-input rounded px-3 py-2 w-100" placeholder=field.label %}
        {% if field.errors %}
        <span style="font-size: 12px; color: red; font-weight: 400;">*
            {% for error in field.errors %}{{ error }}{% endfor %}</span>
        {% endif %}
        {% endif %}
        {% if field.name == "father_name"%}
        {% render_field field class="custom-input rounded px-3 py-2 w-100" placeholder=field.label %}
        {% if field.errors %}
        <span style="font-size: 12px; color: red; font-weight: 400;">*
            {% for error in field.errors %}{{ error }}{% endfor %}</span>
        {% endif %}
        {% endif %}
        {% if field.name == "email"%}
        {% render_field field class="custom-input rounded px-3 py-2 w-100" placeholder=field.label %}
        {% if field.errors %}
        <span style="font-size: 12px; color: red; font-weight: 400;">*
            {% for error in field.errors %}{{ error }}{% endfor %}</span>
        {% endif %}
        {% endif %}
        {% if field.name == "profile_picture"%}
        {% render_field field class="custom-input rounded px-3 py-2 w-100" placeholder=field.label %}
        {% if field.errors %}
        <span style="font-size: 12px; color: red; font-weight: 400;">*
            {% for error in field.errors %}{{ error }}{% endfor %}</span>
        {% endif %}
        {% endif %}
        {% if field.name == "password" or field.name == "password_confirm" %}
        {% render_field field class="custom-input rounded px-3 py-2 w-100" placeholder=field.label %}
        {% if field.errors %}
        <span style="font-size: 12px; color: red; font-weight: 400;">*
            {% for error in field.errors %}{{ error }}{% endfor %}</span>
        {% endif %}
        {% endif %}
        
        
        {% if field.name == "phone"%}
        {% render_field field class="custom-input rounded px-3 py-2 w-100" placeholder=field.label id="phoneNumber"  %}
        {% if field.errors %}
        <span style="font-size: 12px; color: red; font-weight: 400;">*
            {% for error in field.errors %}{{ error }}{% endfor %}</span>
        {% endif %}
        {% endif %}
        {% if field.name == "home_phone"%}
        {% render_field field class="custom-input rounded px-3 py-2 w-100" placeholder=field.label id="social_media" style="display:none" %}
        {% if field.errors %}
        <span style="font-size: 12px; color: red; font-weight: 400;">*
            {% for error in field.errors %}{{ error }}{% endfor %}</span>
        {% endif %}
        {% endif %}
        {% if field.name == "gov_id"%}
        {% render_field field class="custom-input rounded px-3 py-2 w-100" placeholder=field.label id="pasNumber"  %}
        {% if field.errors %}
        <span style="font-size: 12px; color: red; font-weight: 400;">*
            {% for error in field.errors %}{{ error }}{% endfor %}</span>
        {% endif %}
        {% endif %}
        {% if field.name == "fin_code"%}
        {% render_field field class="custom-input rounded px-3 py-2 w-100" placeholder=field.label id="govNumber"  %}
        {% if field.errors %}
        <span style="font-size: 12px; color: red; font-weight: 400;">*
            {% for error in field.errors %}{{ error }}{% endfor %}</span>
        {% endif %}
        {% endif %}
        {% if field.name == "address"%}
        {% render_field field class="custom-input rounded px-3 py-2 w-100" placeholder=field.label id="gender" %}
        {% if field.errors %}
        <span style="font-size: 12px; color: red; font-weight: 400;">*
            {% for error in field.errors %}{{ error }}{% endfor %}</span>
        {% endif %}
        {% endif %}
        
        {% endfor %}
        <div class="m-t-lg">
          <div class="container-fluid">
              <div class="row">
                <div  style="padding-left: 0px !important;" class="col-4">
                      <input style="padding: 8px 16px 8px 16px !important; border-radius: 25px !important; margin-top: 10px !important;" class="btnLogin" type="submit" value="Register" />
                </div>
                <div style="padding-left: 0px !important; padding-right: 0px !important;" class="col-8">
                  <div style="margin-top: 10px !important;" class="login__div">
                    <a style="font-size: 15px; color: rgb(73, 73, 73);" class="signup__link" href="{% url 'login' %}">I am already a member!</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>

    <!-- <script>
      const userType = document.querySelector("#userType")
      gender = document.querySelector("#gender")
      pasNumber = document.querySelector("#pasNumber")
      phoneNumber = document.querySelector('#phoneNumber')
      govNumber = document.querySelector('#govNumber')
      social_media = document.querySelector('#social_media')
      userType.addEventListener("change", () => {
          if (userType.selectedIndex == 0) {
              social_media.style.display = "none"
              phoneNumber.style.display = "none"
              gender.style.display = "block"
              govNumber.style.display = "none"
              pasNumber.style.display = "none"
              govNumber.required = false
              pasNumber.required = false
              phoneNumber.required = false
              social_media.required = false
              gender.required = true
          } else {
              social_media.style.display = "block"
              gender.style.display = "none"
              phoneNumber.style.display = "block"
              govNumber.style.display = "block"
              pasNumber.style.display = "block"
              govNumber.required = true
              pasNumber.required = false
              phoneNumber.required = true
              gender.required = false
              social_media.required = true
          }
      })
  </script> -->
  
  {% endblock %}